{% extends "myapi/site.html" %}
{% block title %} {{file.name}} {% endblock %}
{% block body %}
    <h1>{{file.name}}</h1>
    <p>type: {{file.file_type}}</p>
    <p>All <a href={% url 'myapi' %}>files</a></p>
    <form action="{% url 'edit' file.id %}" method="POST">
        {% csrf_token %}
        <label for="name">File name:</label>
        <input type="text" name="name" id="name" placeholder={{file.name}} />
        <label for="type">File type:</label>
        <input type="text" name="type" id="type" placeholder={{file.file_type}} />
        <p>Uploaded: {{file.upload_timestamp}}</p>
        <button>Update</button>
    </form>
    <form action="{% url 'delete' file.id %}"><button>Delete</button></form>
    <a href="{% url 'myapi' %}">All files</a>
{% endblock %}
