{% extends "myapi/site.html" %}
{% block title %} View all files {% endblock %}
{% block body %}
  {% if files %}
    <p>List of current files</p>
    <ul>
      {% for file in files %}
        <li><a href="{% url 'file' file.id %}">{{file.name}}</a></li>
        <!-- <li><a href=`/file/{{d.id}}`>{{d.name}}</a></li> -->
      {% endfor %}
    </ul>
    <p>To upload file</p>
    <form action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form}}
        <br />
        <button>Upload</button>
    </form>
  {% else %}
  <p>You better upload some files!</p>
  {% endif %}
{% endblock %}
